:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FA8072;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffbb99;
  }
}



/* Style for the login-register section container */
.login-register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the login and register forms */
.login, .register {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  max-width: 300px;
  margin-left: 300px;
}

/* Style for form headings */
.login h2, .register h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

/* Style for input fields */
.login input, .register input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for buttons */
.login button, .register button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #FA8072;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover, .register button:hover {
  background-color: #45a049;
}

/* Style for button text */
button:focus { outline: none; }

/* Center the buttons */
.login button, .register button {
  display: block;
  margin: 0 auto;
}

.h1 {
  margin-left: 300px;
}



